body {
    background-color: #f5f6f6;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;

}

p {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}

h6 {
    font-size: 13px;
    font-weight: 600;
}

.max-h-250 {
    max-height: 250px;
    overflow-y: auto;
}

.no-background {
    background-image: none;
    padding-right: 10px;
}


.cursor-pointer {
    cursor: pointer;
    font-size: 8px;
    height: 5.5px;

}

.text {
    color: #c5c9c9;
}

.fw-600{
    font-weight: 600;
}